body {
  /* width: 900px; */
  background: #fff;
}

div.gen {
  width: 800px;
  max-width: 100%;
  min-width: 768px;
  /* margin: 0 auto; */
  height: 2em;
  margin: 6px auto;
}

div.entity {
  float: left;
  position: relative;
  height: 2em;
  width: 2.3em;
  margin: 0px 3px;
  text-align: center;
  line-height: 2em;
  font-family: "OpenSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
  color: #555;
}
